<!DOCTYPE html>

<html>

	<head>

	</head>
		<% include ../partials/head %>
	<body>
		<h3>Create Account</h3>
		<form class="" action="/account" method="post">
			<div class="">
				<label for="userid">User ID</label>
				<input type="text" id="userid" name="userid" value="">
			</div>
			<div class="">
				<label for="username">User Name</label>
				<input type="text" id="username" name="username" value="">
				<% if(errors.username) { %>
					<p><%= errors.username %></p>
				<% } %>
			</div>
			<div class="">
				<label for="email">E-mail</label>
				<input type="text" id="email" name="email" value="">
			</div>
			<div class="">
				<label for="password">Password</label>
				<input type="password" id="password" name="password" value="">
			</div>
			<div class="">
				<label for="passwordConfirmation">Password Confirm</label>
				<input type="password" id="passwordConfirmation" name="passwordConfirmation" value="">
			</div>
			<div class="">
				<button type="submit" name="button">Create</button>
			</div>
		</form>
	</body>

</html>
