<!DOCTYPE html>

<html>

	<head>

	</head>
		<% include ../partials/navi %>
	<body>
		<div class="create-account-body">
			<form class="" action="/account/<%= userData.userid %>?_method=put" method="post">
				<div class="edit-account-upper-margin">
					<label for="userid" class="w3-label w3-text-teal">User ID</label>
					<input type="text" id="userid" class="w3-input w3-border w3-sand" name="userid" value="<%= userData.userid %>">
				</div>
				<div class="edit-account-upper-margin">
					<label for="username" class="w3-label w3-text-teal">User Name</label>
					<input type="text" id="username" class="w3-input w3-border w3-sand" name="username" value="<%= userData.username %>">
				</div>
				<div class="edit-account-upper-margin">
					<label for="email" class="w3-label w3-text-teal">E-mail</label>
					<input type="text" id="email" class="w3-input w3-border w3-sand" name="email" value="<%= userData.email %>">
				</div>
				<div class="edit-account-upper-margin">
					<label for="password" class="w3-label w3-text-teal">Current Password</label>
					<input type="password" id="currentPassword" class="w3-input w3-border w3-sand" name="currentPassword" value="">
				</div>
				<div class="edit-account-upper-margin">
					<label for="password" class="w3-label w3-text-teal">New Password</label>
					<input type="password" id="newPassword" class="w3-input w3-border w3-sand" name="newPassword" value="">
				</div>
				<div class="edit-account-upper-margin">
					<label for="passwordConfirmation" class="w3-label w3-text-teal">Password Confirm</label>
					<input type="password" id="passwordConfirmation" class="w3-input w3-border w3-sand" name="passwordConfirmation" value="">
				</div>
				<div class="edit-account-upper-margin">
					<button type="submit" class="w3-btn w3-teal button-size" name="button">Modify</button>
				</div>
			</form>
		</div>
	</body>

</html>
