<!DOCTYPE html>

<html>

	<head>
		<% include ../partials/head %>
	</head>

	<body>
		<div class="w3-container">
			<h3>User Details</h3>
			<ul>
				<li>User ID : <%= userData.userid %></li>
				<li>User Name : <%= userData.username %></li>
				<li>E-mail : <%= userData.email %></li>
			</ul>
			<button type="button">
				<a href="/account/<%= userData.userid %>/edit">Edit</a>
			</button>

		</div>
	</body>

</html>
