<!-- jquery -->
<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

<!-- W3-CSS -->
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="/css/master.css">

<title>MemoBoard for Node.js</title>
