<!DOCTYPE html>

<html>

	<head>
		<% include ../partials/head %>
	</head>

	<body>
		<div class="w3-container w3-center">
			<h1 class="w3-text-grey">게시판 화면</h1>
			<p class="w3-text-grey">이것은 게시판 화면입니다.</p>
		</div>
	</body>

</html>
