<!DOCTYPE html>

<html>

	<head>
		<% include ../partials/head %>
	</head>

	<body>
		<form class="" action="/signin" method="post">
			<p>login</p>
			<div class="">
				<label for="userid">ID</label>
				<input type="text" id="userid" name="userid" value="">
			</div>
			<div class="">
				<label for="password">PASSWROD</label>
				<input type="password" id="password" name="password" value="">
			</div>
			<div class="">
				<button type="submit" name="button">Login</button>
			</div>
		</form>
	</body>

</html>
